= render :partial => "dashboard/header"

#new_tribe_form_main


  #notifications{:style => 'margin: 50px'}
    .info_message
      %h1
        interested in starting a new sphere?
      %p
        we plan to test this installation for another week or two, for now please send email to:
        %strong permabank@hackers4peace.net
        and we will send you invitation soon!

= render :partial => "dashboard/footer"
