= render :partial => "dashboard/header"

#new_tribe_form_main

  = render :partial => "dashboard/notifications"

  %h2
    to start new community:
  %ol
    %li
      make sure you have listing in
      = link_to 'Occupy Directory', 'http://directory.occupy.net'
    %li send us an email with request and link to your group in 'Occupy Directory'

= render :partial => "dashboard/footer"
